<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <th:block th:if="${session.succMsg}">
                    <p class="text-success alert alert-success text-center" role="alert">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger text-center  alert alert-danger">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>

                </th:block>
                <!-- Product Image -->
                <div class="col-lg-6 text-center mb-4">
                    <img th:src="@{'/img/product_img/'+${product.image}}" alt="Product Image" height="350px">
                </div>

                <!-- Product Details -->
                <div class="col-lg-6">
                    <p class="fs-3">[[${product.title}]]</p>
						<p>
							<span class="fw-bold">Description : </span><br>[[${product.description}]]
						</p>
						<p>
							<span class="fw-bold"> Product Details: </span> <br>
							Status : 
							<th:block th:if="${product.stock>0}">
							<span class="badge bg-success">Available</span> 
							</th:block>
							
							<th:block th:unless="${product.stock>0}">
							<span class="badge bg-warning">out of stock</span> 
							</th:block>
							
								
								<br> Category: [[${product.category}]]<br> 
								Policy : 7 Days Replacement & Return
						</p>
						<p class="fs-5 fw-bold">
							Price:&nbsp;
							<span class="text-danger">
								[[${#numbers.formatDecimal(product.discountPrice, 1, 2)}]]
							</span>
							<span class="text-secondary text-decoration-line-through">
								[[${#numbers.formatDecimal(product.price, 1, 2)}]]
							</span>
							<span class="fs-6 text-success" style="margin-left: 5px;"> [[${product.discount}]]% off</span>
						</p>
						
							
                    <!-- Add to Cart Button -->
                    <div>
                        <th:block th:if="${product.stock>0}">
                            <th:block th:if="${user==null}">
								<a href="/signin" class="btn btn-danger col-md-12">Add To
									Cart</a>
							</th:block>
                            <th:block th:unless="${user==null}">
								<a
									th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}"
									class="btn btn-danger col-md-12">Add To Cart</a>
							</th:block>
						</th:block>
						
						<th:block th:unless="${product.stock>0}">
						<a href="#" class="btn text-white btn-warning col-md-12">Out of Stock</a>
						</th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>